*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.header-slider-container {
    position: relative;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Đặt z-index cao hơn để header nằm trên slider */
}

/* CSS for the slider container */
.slider {
    height: 600px;
    position: relative;
    overflow: hidden;
  
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

    .slide.active {
        opacity: 1;
        z-index: 1;
    }

    .slide img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.main{
    display:flex;
    flex-direction:row;
}
.button{
    width:25%;
}
#sinhvien {
    width: 75%;
}

.login_list{
    padding:20px;
}
.icon {
    padding: 20px 0;
    text-align: center;
    background-color:black;
    color:white;

}

.link {
    color: white;
    font-size: 20px;
    padding: 10px;
}
    .link:hover {
        color:black;
        background-color: DarkGray;
    }



.custom-input{
    width: 100%;
    margin-top:10px;
    font-size:15px;
    border-radius : 5px;
    padding: 10px;
}
.icon-fa{
    margin-top:10px;
    font-size: 20px;
    width:30px;
}
.confirm-login{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:aliceblue;
    border-radius: 20px;
   
}

.btn_update {
    margin-bottom: 10px;
}
.logo {
    display: flex;
    align-items: center;
}

nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(120, 20, 30, 0.5);
    position: fixed;
    padding: 0 20px; /* Thêm biên cho nav */
    border-bottom: 2px solid white; /* Đường viền dưới nav */
}

img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.heder-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* CSS cho khối sinh viên */
#student-block {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

/* CSS cho ảnh sinh viên */
.student-image {
    width: 20%;
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
}

/* CSS cho chi tiết thông tin sinh viên */
.student-details {
    text-align: left;
}
/* Thêm CSS để căn giữa tiêu đề và tùy chỉnh kiểu chữ */

.jconfirm-title-c {
    text-align : center;
}
.jconfirm-box-container{
 border-radius: 15px;
}
.jconfirm-box {
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.jconfirm-button{
    width:100%;
    display:flex;
    justify-content:space-between;
}